<div class="arr-instance-purpose">
    <div class="fieldWrapper mb-3 form-check">{{ instance_form.is_library_source }} {{ instance_form.is_library_source.label_tag }}<div class="form-text">{{ instance_form.is_library_source.help_text }}</div></div>
    <div class="fieldWrapper mb-3 form-check">{{ instance_form.is_ondemand_target }} {{ instance_form.is_ondemand_target.label_tag }}<div class="form-text">{{ instance_form.is_ondemand_target.help_text }}</div></div>
    <div class="fieldWrapper mb-3 form-check">{{ instance_form.enable_queue_import }} {{ instance_form.enable_queue_import.label_tag }}<div class="form-text">{{ instance_form.enable_queue_import.help_text }}</div></div>
</div>
